<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">    
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <link rel="stylesheet" href="../styles/form.css">    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body ng-app="profile" ng-controller="profileController">
        <div class="container-fluid header">  
            <div class="row">
                <div class="col-md-6">
                    <header></header>
                </div>
                <div class="col-md-6">                
                    <a class="logout" ng-click="logout()">Logout</a>
                </div>
            </div>
            <div class="row token-row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-block" ng-controller="profileController">
                            <h3 class="card-title">Access Token</h3>
                            <token></token>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card token-2">
                        <div class="card-block">
                            <h3 class="card-title">User Details</h3>
                            <userdata></userdata>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="invoke" ng-click="invoke()">Invoke</button>
            </div>
            <div class="row">
                <div class="container">
                    <div class="card token-2">
                        <div class="card-block">
                            <h3 class="card-title">Response</h3>
                            <resbody></resbody>
                        </div>
                    </div>
                </div>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    </div>
                    <div class="modal-body">
                        <input type="text" placeholder="Enter endpoint" ng-model="api"/>
                    </div>
                    <div class="modal-footer">
                      <invoke></invoke>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="../js/ngbindProfile.js"></script>
    </body>
</html>